<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <div class="home-page">
            <h1>Game N!ght</h1>
            <div class="logo-holder">
                <img src="../images/cards.svg" alt="cards" />
            </div>
            <a href="/games">Rent games</a>
        </div>
    </body>

</html>