<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <div class="home-page">
            <h1>PAGE NOT FOUND</h1>
            <a href="/">Back to Home</a>
        </div>
    </body>

</html>