.review-details {
  color: $main;
}

.success-page {
  @include verticalFormat;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.success-card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
  div {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #f8faf5;
    margin: 0 auto;
    i {
      color: #9abc66;
      font-size: 100px;
      line-height: 200px;
      margin-left: -15px;
    }
  }
  button {
    border: none;
    background: transparent;
    padding: 2%;
    color: $main;
  }
}

.failure-page {
  @include verticalFormat;
  height: 100vh;
  text-align: center;
  h1 {
    font-size: $h1Size;
    color: $main;
  }
  h3 {
    font-size: $h3Size;
    font-weight: lighter;
    color: $light;
  }
  a {
    margin-top: 3%;
    font-size: $h4Size;
    background-color: $contrast;
    color: $dark;
    padding: 0.5%;
    border: none;
    opacity: 0.95;
    &:hover {
      opacity: 1;
    }
    &:active {
      transform: scale(0.97);
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
    }
  }
}

@media (max-width: 1000px) {
  .failure-page {
    h3 {
      font-size: $h4Size;
    }
    a{
      font-size: $pSize;
    }
  }
}
